<!DOCTYPE html>

{% block content %}
<h2 class="mb-4 text-center" style="color: #cdaaf7; font-family: 'Comic Sans MS', cursive; font-size: 2.5rem;">Login</h2>
<style>
    html, body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1c0c27;
    }
    .login-container {
        background-color: #291a40;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        max-width: 800px;
        width: 100%;
        font-family: 'Comic Sans MS', cursive;
        text-align: center;
    }
</style>
<div class="login-container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label" style="color: #a588d9; font-size: 1.5rem;">Username</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label" style="color: #a588d9; font-size: 1.5rem;">Password</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary w-100" style="font-size: 1.5rem;">Login</button>
    </form>
    <p class="mt-3" style="color: #3a235e; font-size: 1.2rem;">
        Don't have an account? <a href="{% url 'register' %}" style="color: #7c3aed; font-size: 1.2rem;">Register here</a>.
    </p>
</div>

{% if user.is_authenticated %}
    <script>
        window.location.href = "{% url 'devices_list' %}";
    </script>
{% endif %}
{% endblock %}