{% extends 'shApp_base_template.html' %}

{% block title %} SHA List of devices {% endblock %}

{% block body %} 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'smart_home' %}"><i class="fa-solid fa-house-signal"></i> Smart Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% if devices|length > 0 %}
    <h3> SmartHomeApp, Hello {{ user.username }} you have {{ devices|length }} 
        {% if devices|length == 1 %}
            device.
        {% else %}
            devices.
        {% endif %}
    </h3>
    <a href="{% url 'new_device' %}">Add new device</a>
    <p>Your list of devices:</p>
    {% for device in devices %}
        <p>{{ device.name }}: {{ device.status }} | {{ device.power_in_watts }} | {{ device.owner }} | {{ device.description }}</p>
        <a href="{% url 'edit_device' device.id %}">Edit</a>
        <a href="{% url 'delete_device' device.id %}">Delete</a>
    {% endfor %}
{% else %}
    <h3>SmartHomeApp, Hello {{ user.username }} you have no devices to manage.</h3>
    <a href="{% url 'new_device' %}">Add new device</a>
{% endif %}
{% endblock %}