{% extends 'shApp_base_template.html' %}
{% load bootstrap %}
{% block title %} Stats {% endblock %}

{% block body %} 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'smart_home' %}"><i class="fa-solid fa-house-signal"></i> Smart Home</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'devices' %}"><i class="fa-regular fa-lightbulb"></i>&nbsp;&nbsp;Device control</a>
        </li>   
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'logs' %}"><i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Recent events</a>
        </li>    
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <h4><i class="fa-solid fa-chart-line"></i> Charts and statistics</h4>
        </li>
      </ul>  
      {% if user.is_authenticated %}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" > 
              {% csrf_token %} 
              <button class="btn btn-secondary" type="submit">Log&nbsp;out&nbsp;<i class="fa-solid fa-arrow-right-to-bracket"></i></button> 
          </form>
        </li>  
      </ul>
      {% endif %} 
    </div>
  </div>
</nav>

 <div class="container-fluid" style="float: left">
  <div class="row">
    <div class="col-2">
        <br>
         <div class="card" style="width: 12rem;">
            <div class="card-body">
                <h5 class="card-title">Filters</h5>
                <form method="post" action="{% url 'stats' %}" > 
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <br>
                    <button type="submit" class="btn btn-primary">Filter</button>  
                 </form>
            </div>
        </div> 
    </div>    
 
    <div class="col-10" style="width: 80rem">
        {{ chart_sum_total_power_by_date|safe }}
        <br>
        {{ chart_sum_total_power_by_room|safe }}
        <br>
        {{ chart_sum_total_power|safe }}
        <br>
        {{ chart_count_on_off|safe }}
    </div>    
  </div>
</div>   
    
    
  
    

    
<br>    
{% endblock %}