{% extends 'shApp_base_template.html' %}
{% load bootstrap %}
{% block title %}Smart Home App {% endblock %}
{% block body %} 
<div style="height: 5rem"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem; height: 15rem">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-lightbulb"></i>&nbsp;&nbsp;Device control</h5>
                        <p class="card-text">On the Device Control page you will find a list of all devices connected to the system.<br></p>
                        
                        <a href="{% url 'devices' %}" class="btn btn-primary">Device control <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; height: 15rem">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-chart-line"></i>&nbsp;&nbsp;Charts and statistics</h5>
                        <p class="card-text">On the Statistics and Charts Page you can analyze data in real time.<br><br></p>
                        <a href="#" class="btn btn-primary">Charts and statistics <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; height: 15rem">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Recent events</h5>
                        <p class="card-text">On the System Logs page you will find a complete history of events.<br><br></p>
                        <a href="#" class="btn btn-primary">Recent events <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
{% endblock %}
