{% extends 'shApp_base_template.html' %}
{% load bootstrap %}
{% block title %} SHA Device form {% endblock %}
{% block body %} 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'smart_home' %}"><i class="fa-solid fa-house-signal"></i> Smart Home</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'smart_home' %}"><i class="fa-solid fa-house-signal"></i> Smart Home</a>
        </li>  
      </ul>
    </div>
  </div>
</nav>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form|bootstrap }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'devices' %}">Back to list of devices</a>
{% endblock %}