{% extends 'shApp_base_template.html' %}

{% block title %} SHA List of devices {% endblock %}

{% block body %} 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'smart_home' %}"><i class="fa-solid fa-house-signal"></i> Smart Home</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <h4>List of devices</h4>
        </li>
      </ul>  
      {% if user.is_authenticated %}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" > 
              {% csrf_token %} 
              <button class="btn btn-secondary" type="submit">Log&nbsp;out&nbsp;<i class="fa-solid fa-arrow-right-to-bracket"></i></button> 
          </form>
        </li>  
      </ul>
      {% endif %} 
    </div>
  </div>
</nav>
{% if devices|length > 0 %}
    <br>
    <h6>{{ user.username }} you have {{ devices|length }} 
        {% if devices|length == 1 %}
            device to manage.
        {% else %}
            devices to manage.
        {% endif %}
    </h6>
    <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <div class="container text-center">
            {% for device in devices %}
            <div class="row align-items-start">
                <div class="col" style="text-align: left">
                    {{ device.name }}
                </div>
                <div class="col" style="text-align: center">
                    {% if device.status == 0 %}
                        <i class="fa-solid fa-power-off" style="color:black"></i>
                    {% else %}
                        <i class="fa-solid fa-power-off" style="color:green"></i>
                    {% endif %}
                </div>
                <div class="col" style="text-align: left">
                    {{ device.power_in_watts }}
                </div>
                <div class="col"  style="text-align: left">
                    {{ device.description }}
                </div>
                <div class="col">
                    <a href="{% url 'edit_device' device.id %}" title="Edit device {{ device.name }}" style="color: black"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
                <div class="col">
                    <a href="{% url 'delete_device' device.id %}" title="Delete device {{ device.name }}" style="color: black"><i class="fa-solid fa-trash-can"></i></a>
                </div>
                <div class="col">
                    <a href="{% url 'new_device' %}" title="Add new device" style="color: black"><i class="fa-solid fa-square-plus"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <h6>{{ user.username }} you have no devices to manage.</h6>
    <a href="{% url 'new_device' %}">Add new device</a>
{% endif %}
{% endblock %}