{% extends 'shApp_base_template.html' %}
{% load bootstrap %}
{% block title %} SHA Login {% endblock %}
{% block body %} 
    <div style="height: 5rem"></div>
     <div class="container text-center">
        <div class="row">
            <div class="col">
 
            </div>
            <div class="col">
                <div class="card" style="width: 26rem;">
                    <div class="card-body">
                        <h5 class="card-title">Log in to SmartHome App</h5>
                        <p class="card-text">Please log in to SmartHome App to be able to use the full functionality of the system. </p>
                        <div class="mb-3 row">
                            <form method = "post">
                               {% csrf_token %} 
                                {{ form|bootstrap }}
                                <div style="padding: 1rem"><button class="btn btn-primary" type="submit">Log in <i class="fa-solid fa-arrow-right-to-bracket"></i></button></div>
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>   
    
    
    

{% endblock %}