<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices List</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h1>Devices List</h1>
    <table>
        <thead>
            <tr>
                <a href="{% url 'add_device' %}" class="btn btn-primary">Add new device</a>
                <th>Name</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            {% for device_list in devices_list %}
            <tr data-id="{{ device_list.id }}">
                <td>{{ device_list.name }} </td>
                <td>{{ device_list.functions }}</td>
                <td>
                    <button class="delete-btn" data-id="{{ device_list.id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $(document).on('click', '.delete-btn', function () {
            const deviceListId = $(this).data('id');

            if (confirm('Are you sure you want to delete this device?')) {
                $.ajax({
                    url: `/delete_device_ajax/${deviceListId}/`,
                    type: 'POST',
                    headers: { 'X-CSRFToken': csrftoken },
                    success: function (response) {
                        if (response.success) {
                            alert('Device successfully deleted!');
                            location.reload(); // Перезагрузка страницы
                        } 
                    },
                    error: function () {
                        alert('Failed to communicate with the server.');
                    }
                });
            }
        });
    </script>
</body>
</html>