<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
</head>
<body>
    <h1>Devices</h1>
    <table>
        <thead>
            <tr>
                <a href="{% url 'devices_list' %}" class="btn btn-primary">Add new device</a>
                <th>Name</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.name }}</td>
                <td>{{ device.functions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>